html, body {
	padding: 0;
	margin: 0;
  overflow: hidden;
}

#canvas {
  height: 100%;
  width: 100%;
}

#content {
  height: 100%;
  display: flex;
}

#left-bar {
	height: 100%;
	width: 200px;
  background-color: black;
  user-select: none;
}

#canvas-container {
  height: 100%;
  width: 80%;
  flex-grow: 1;
}

#heading {
  height: 200px;
  width: 100%;
}

#heading h1 {
  display: flex;
  padding-right: 50px;
  color: black;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6f6;
  font-style: italic;
  font-size: 40px;
  animation: MoveUpDown 1s ease-in-out infinite;
  animation-direction: alternate;
  user-select: none;
  letter-spacing: 10px;
}

@keyframes MoveUpDown {
  0% {
    padding-top: -60px;
  }
  100% {
     padding-top: 60px;
  }
}

#logo {
  width: 200px;
  height: 200px;
}

#menu {
  height: 70%;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  user-select: none;
  overflow-y: auto;
  padding-top: 30px;
}

#menu::-webkit-scrollbar {
  display: none;
}

.button {
  width: 95%;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 4px;
  border: solid 1px #073807;
  cursor: pointer;
}

.button:hover h2 {
  color: #c30199;
}

.button h2 {
  color: black;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0a6480;
  letter-spacing: 3px;
}

